<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'mybooksapp/images' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>{{liste.name}}</title>
</head>
<body>

    <div class="d-flex">
        {%for book in books%}
        <div class="container text-center" style="width: 13.9rem;">
            <div class="card m-3" style="width: 10rem;">
                <img src="{{book.cover}}" class="card-img-top" alt="image" height="250px">
            </div>
            <a href="{% url 'mybooksapp:detail_book' book.id%}" class="btn" style="width: 10rem;">Zum Buch</a>
        </div>
        {%endfor%}
    </div>

    <div class='mt-5'>
        <button type="button" class="btn"><a href="{% url 'mybooksapp:new_book' %}" class='text-light'>+ Neues Buch hinzufügen</a></button>
    </div>

</body>
</html>
