<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>{{book.title}}</title>
</head>
<body>

    <div class='row justify-content-md-center p-2 mt-5'>
    <div class="col-lg-10 p-4 bg-white rounded shadow-sm">    

        <div class='container d-flex'>
            <img src="{{book.cover}}" class="" alt="image">
            <div class='pl-4'>
                <h2>{{book.title}}</h2>
                <p>{{book.content}}</p>
                <p><b>Autor: </b>{{book.author}}</p>
                <p><b>Bewertung: </b>{{book.rating}}</p>
                <p><b>Gelesen: </b>{{book.done}}</p>
                <p><b>Preis: </b>{{book.price}}</p>
                <p><b>Genre: </b>{{book.genre}}</p>
                <div class='mt-4'>
                    <a href="{% url 'mybooksapp:update_book' book.id%}" class='btn'>Bearbeiten</a>
                    <a href="{% url 'mybooksapp:delete_book' book.id%}" class='btn'>Löschen</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>

</body>
</html>
