<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'mybooksapp/images' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>Suche</title>
</head>
<body>

    <div class='row justify-content-md-center p-2 mt-5'>
        <div class="col-lg-10 p-4 bg-white rounded shadow-sm"> 
    <form action="" method="post" name="myform">
        <div class="form-group">
          {% csrf_token %}
          <label>Suche nach Autor</label>
          <input type="text" name="search_author" placeholder="Autor"><br>
          <label>Suche nach Titel</label>
          <input type="text" name="search_title" placeholder="Titel"><br>
        </div>

        <div class="input-group">
            <input class="btn" type="submit" name="anlegen" value="Suchen">
          </div>

    </form>
    </div>
</div>

    {% if books %}
    {% for book in books %}
        <div class="container text-center" style="width: 13.9rem;">
            <div class="card m-3" style="width: 10rem;">
                <img src="{{book.cover}}" class="card-img-top" alt="image" height="250px">
            </div>
            <a href="{% url 'mybooksapp:detail_book' book.id%}" class="btn" style="width: 10rem;">Zum Buch</a>
        </div>
    {%endfor%}
    {%endif%}

</body>
</html>