<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mybooksapp/style.css' %}">
    <title>Buch bearbeitem</title>
</head>
<body>

    <div class='row justify-content-md-center p-2 mt-5'>
    <div class="col-lg-10 p-4 bg-white rounded shadow-sm">

        <form action="{% url 'mybooksapp:update_book' book.id %}" method="POST">
        <div class="form-group">
            {% csrf_token %}
            <label for="book_title">Titel</label>
            <input class="form-control" type="text" name="book_title" id="book_title" value="{{book.title}}"><br>

            <label for="book_author">Autor</label>
            <input class="form-control" type="text" name="book_author" id="book_author" value="{{book.author}}"><br>

            <label for="book_content">Inhalt</label>
            <input class="form-control" type="text" name="book_content" id="book_content" value="{{book.content}}"><br>

            <label for="book_rating">Bewertung</label>
            <input class="form-control" type="number" name="book_rating" id="book_rating" value="{{book.rating}}"><br>

            <label for="book_done">Gelesen</label>
            <input class="form-check" type="checkbox" name="book_done" id="book_done" value="{{book.done}}" {% if book.done %}checked{% endif %}><br>

            <label for="book_price">Preis</label>
            <input class="form-control" type="number" step="0.01" name="book_price" id="book_price" value="{{book.price}}"><br>

            <label for="book_cover">Cover</label>
            <input class="form-control" type="text" name="book_cover" id="book_cover" value="{{book.cover}}"><br>

            <label for="book_booklist">Liste</label>
            <select class="form-control" name="book_booklist" id="book_booklist">
                {% for liste in listen %}
                    <option value="{{liste.id}}" {% if liste == book.liste %}selected{% endif %}>{{liste.name}}</option> 
                {% endfor %}  
            </select><br>

            <label for="book_genre">Genre</label>
            <select class="form-control" name="book_genre" id="book_genre">
                {% for genre in genres %}
                    <option value="{{genre.id}}" {% if genre == book.genre %}selected{% endif %}>{{genre.name}}</option> 
                {% endfor %}  
            </select><br>

            <div class="input-group">
                <input class="btn" type="submit" value="Speichern">
            </div>
        </div>
        </form>

    </div>
    </div>

</body>
</html>
